{% extends "layout.html" %}

{% block content %}

{% if session.userid is defined %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>


    <div class="container" style="margin-top: 5%">
        <div class="col" style="text-align: center">
            <p>WELCOME TO THE APARTMENT BOOKING APP</p>
        </div>
    </div>
    <div class="container">
        <div class="col" style="text-align: center">
            <p>
                <a href="/apartments" class="btn btn-primary">SELECT APARTMENTS</a> |
                <a href="/apartments/create" class="btn btn-primary">LIST YOUR APARTMENT</a>
            </p>
        </div>
    </div>
{% else %}

<p><a href="/apartments" class="btn btn-primary">VIEW APARTMENTS</a></p>

<div class="container">
    <div class="row">
        <div class="col" style="height: 50%">
            <p>LOG IN</p>
            <form method="post" action="/users/login" class="col">
                <div>
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" id="email" name="email" class="form-control" required value="{{ inputs.email }}"/>
                    {% if errors.email %}
                    <p class="small_error">{{ errors.email[0] }}</p>
                    {% endif %}
                </div>

                <div>
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required/>
                    {% if errors.password %}
                    <p class="small_error">{{ errors.password[0] }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">LOG IN</button>
                </div>
            </form>
        </div>

        <div class="col">
            <p>REGISTER</p>
            <form method="post" action="/users/register" class="col">

                <div>
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" name="name" class="form-control"/>
                    {% if errors.name %}
                        <p class="small_error">{{ errors.name[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="surname" class="form-label">Surname:</label>
                    <input type="text" id="surname" name="surname" class="form-control"/>
                    {% if errors.surname %}
                        <p class="small_error">{{ errors.surname[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="birthday" class="form-label">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" class="form-control"/>
                    {% if errors.birthday %}
                        <p class="small_error">{{ errors.birthday[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="email_reg" class="form-label">Email:</label>
                    <input type="text" id="email_reg" name="email_reg" class="form-control"/>
                    {% if errors.email_reg %}
                        <p class="small_error">{{ errors.email_reg[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="password_reg" class="form-label">Password:</label>
                    <input type="password" id="password_reg" name="password_reg" class="form-control"/>
                    {% if errors.password_reg %}
                        <p class="small_error">{{ errors.password_reg[0] }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="password_repeat" class="form-label">Repeat password:</label>
                    <input type="password" id="password_repeat" name="password_repeat" class="form-control"/>
                    {% if errors.password_repeat %}
                        <p class="small_error">{{ errors.password_repeat[0] }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">REGISTER</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}