{% extends "layout.html" %}

{% block content %}
<div>
    <p>
<!--        <a href="/users">Back</a> |-->
        <a href="/apartments">Apartments</a> |
        <a href="/apartments/create">Add apartment for booking</a>
    </p>
</div>


{% if session.userid is defined %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
            <div class="card-text">
                <p class="description">Birthday: {{ user.birthday }}</p>
                <p class="description">Email: {{ user.email }}</p>
                <p class="description">Profile created: {{ user.createdAt|date('d-m-Y') }}</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <p>MY APARTMENTS</p>
                <div class="card">
                    {% for createdApartment in createdApartments %}
                    <div class="card-body">
                        <h5 class="card-title">{{ createdApartment.title }}</h5>
                        <div class="card-text">
                            <p class="description">Address: {{ createdApartment.address }}</p>
                            <p class="description">Description: {{ createdApartment.description }}</p>
                            <p class="description">Reserved from: {{ createdApartment.availableFrom|date('d-m-Y') }}</p>
                            <p class="description">Reserved until: {{ createdApartment.availableUntil|date('d-m-Y') }}</p>
                        </div>
                        <form method="post" action="/apartments/{{ createdApartment.id }}/delete">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-primary">Delete</button>
                        </form>
                        <p>
                            <a href="/apartments/{{ createdApartment.id }}/edit">Edit</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col">
                <p>MY RESERVATIONS</p>
                <div class="card">
                    {% for reservedApartment in reservedApartments %}
                        <div class="card-body">
                            <h5 class="card-title">{{ reservedApartment.title }}</h5>
                            <div class="card-text">
                                <p class="description">Address: {{ reservedApartment.address }}</p>
                                <p class="description">Description: {{ reservedApartment.description }}</p>
                                <p class="description">Reserved from: {{ reservedApartment.availableFrom|date('d-m-Y') }}</p>
                                <p class="description">Reserved until: {{ reservedApartment.availableUntil|date('d-m-Y') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-body">
            <p>
                You don't have access to view profiles of other users.
                Please, <a href="/users/login">log-in</a> or <a href="/users/register">register</a>.
            </p>
        </div>
    </div>
{% endif %}


{% endblock %}