{% extends "layout.html" %}

{% block content %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/apartments">Apartments</a></li>
        <li class="breadcrumb-item"><a href="/users/{{ session.userid }}">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">List your apartment</li>
    </ol>
</nav>

{% if session.userid is defined %}

<div class="container">
    <p>LIST YOUR APARTMENT</p>
    <form method="post" action="/apartments" class="col">
        <div>
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" value="{{ inputs.title }}" class="form-control"/>
            {% if errors.title %}
                <p class="small_error">{{ errors.title[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="address" class="form-label">Address:</label>
            <input type="text" id="address" name="address" value="{{ inputs.address }}" class="form-control"/>
            {% if errors.address %}
                <p class="small_error">{{ errors.address[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" class="form-control">{{ inputs.description }}</textarea>
            {% if errors.description %}
                <p class="small_error">{{ errors.description[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="price" class="form-label">Price (EUR) per night:</label>
            <input id="price" name="price" class="form-control" value="{{ inputs.price }}"/>
            {% if errors.price %}
                <p class="small_error">{{ errors.price[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="available_from" class="form-label">Available from:</label>
            <input type="date" id="available_from" name="available_from" value="{{ inputs.available_from }}" class="form-control"/>
        </div>
        <div>
            <label for="available_until" class="form-label">Available until:</label>
            <input type="date" id="available_until" name="available_until" value="{{ inputs.available_until }}" class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>
{% else %}
<p>
    <a href="/users/login">Log in</a>
</p>
{% endif %}

{% endblock %}
