{% extends "layout.html" %}

{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/apartments">Apartments</a></li>
        <li class="breadcrumb-item"><a href="/users/{{ session.userid }}">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit apartment information</li>
    </ol>
</nav>

{% if session.userid is defined %}
<div class="container">
    <p>EDIT INFORMATION ABOUT APARTMENT: <b>{{ apartment.title}}</b></p>
    <form method="post" action="/apartments/{{ apartment.id }}" class="col">
        <div>
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" value="{{ apartment.title }}" class="form-control"/>
            {% if errors.title %}
                <p class="small_error">{{ errors.title[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="address" class="form-label">Address:</label>
            <input type="text" id="address" name="address" value="{{ apartment.address }}" class="form-control"/>
            {% if errors.address %}
                <p class="small_error">{{ errors.address[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" class="form-control">{{ apartment.description }}</textarea>
            {% if errors.description %}
                <p class="small_error">{{ errors.description[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="price" class="form-label">Price (EUR) per night:</label>
            <input id="price" name="price" class="form-control" value="{{ apartment.price }}"/>
            {% if errors.price %}
                <p class="small_error">{{ errors.price[0] }}</p>
            {% endif %}
        </div>
        <p>Available from: {{ apartment.availableFrom|date('d-m-Y') }}</p>
        <p>Available until: {{ apartment.availableUntil|date('d-m-Y') }}</p>

        <button type="submit" class="btn btn-primary">Submit changes</button>
    </form>
</div>
{% endif %}

{% endblock %}